*{
    font-family: 'Times New Roman', Times, serif;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.5fr 1  0.8fr;
    grid-template-areas: 
            "navbar navbar navbar navbar"
            "section1 main main main"
            "none section2 section2 section3"
            "footer footer footer footer";
    gap: 20px;
    height: 100%;
    animation: fadeIn 1s ease-in-out;
}

nav, main, #section1, #section2, #section3, footer{
    border-radius: 10px;
    box-shadow: 0 4px 6px ;
}

nav{
    grid-area: navbar;
    background-color: rgb(148, 188, 171);
    height: 5vh;
    justify-content: space-between;
    text-align: center;
    padding: 20px;
    font-weight: bolder;
    font-style: italic;
    display: flex;
}


main{
    grid-area: main;
    background-color: white;
    font-weight: bold;
    padding: 10px;
    height: 250px;
}
main p{
    font-weight: lighter;
    color: black;
    background-color: white;
}

#section1{
    background-color: darkcyan;
    object-fit:;
    padding: 10px;
    height: 250px;
    font-weight: bolder;
    text-align: center;
}

.photo{
    object-fit: fill;
    height: 200px;
    width: 100%;
}
 

#section2{
    grid-area: section2;
    background-color: rgb(196, 196, 163);
    padding: 10px;
    height: 300px;
    font-weight: bolder;
}

#section2 label{
    font-weight: lighter;
    
}

#section3{
    grid-area: section3;
    background-color: rgb(199, 199, 181);
    padding: 10px;
    height: 300px;
    font-weight: bolder;
}

#section3 label{
   font-weight: lighter;
    
}

footer{
    grid-area: footer;
    background-color: aqua;
    padding: 10px;
    height: 60px;
    font-weight: bolder;
}





