*{
    margin: 0;
    padding: 1px;
    color: rgb(17, 24, 163);
}
a:hover{
    color: black;
    background-color: white;
    
}

nav {
    font-size: 30px;
    line-height: 30px;
    padding:  10px;
    background-color: rgb(9, 10, 10);
    height: 70px;
    width: 100%;
    }


nav a{
    color: rgb(136, 136, 58);
    font-size: 15px;
}

h2{
    text-align: right;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(106, 160, 231);
    font-style: oblique;
    
}
