*{
    margin: 0;
    padding: 0;
    text-decoration: rgb(75, 118, 156);
    list-style: none;
    box-sizing: border-box;
}
body{
font-family: 'Times New Roman', Times, serif;
}
nav{
    background-color: rgb(9, 10, 10);
    height: 70px;
    width: 100%;
    color: rgb(177, 185, 193);
    }

label.logo{
    color: rgb(228, 211, 211);
    font-size: 36px;
    line-height: 40px;
    padding:  10px;
    font-weight: bolder;
    }

nav ul li{
    margin: 5px;
    display: inline-flex;
    color: rgb(114, 114, 105);
}

h2{
    text-align: right;
    margin-top: 300px;
    text-decoration-style: wavy;
    color: rgb(241, 236, 231);
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;

}