body{
    background-color: rgb(55, 18, 18);
}

h2{
    color: rgb(158, 142, 142);
}

h2.hover {
    color: bisque;
}
header{
    text-align: center;
    margin: 100px;
    padding: 0;
    color: rgb(202, 202, 250);

}

article {
    display: grid;
    grid-template:
    "one six three"40%
    "two five four" 40%;
    gap: 2rem;
    align-items: stretch;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 20%;
}

.grid_1 {
    grid-area: one;
    background-color: white;
    width: 260px 270px;
    height: 270px;
    box-shadow: 10px 10px gray;
    
}

.grid_2 {
    grid-area: two;
    background-color: white;
    width: 173px;
    height: 400px;
    box-shadow: 10px 10px gray;
}

.grid_3 {
    grid-area: three;
    background-color: white;
    width: 295px;
    height: 255px;
    box-shadow: 10px 10px gray;
}

.grid_4 {
    grid-area: four;
    background-color: white;
    width: 180px;
    height: 370px;
    box-shadow: 10px 10px gray;
}

.grid_5 {
    grid-area: five;
    background-color: white;
    width: 173px;
    height: 400px;
    box-shadow: 10px 10px gray;
}

.grid_6 {
    grid-area: six;
    background-color: white;
    width: 270px;
    height: 270px;
    box-shadow: 10px 10px gray;
}

section {
    margin-bottom: 100px;
    text-align: center;
}

p {
    font-size: 30px;
    color: white;
}

div label {
    font-style: oblique;
    font-size: 20px;
    color: aliceblue;
}

textarea {
    margin-top: 30px;
    color: white;
}

@media(min-width 480px){
    p{
        font-size: 1.2rem;
    }
}

@media(max-width 1680px){
    p{font-size: 1.2rem;}

}
