h1 {
    color: rgb(15, 15, 15);
    text-align:  center;
}

a { 
    font-size: 20px;
    color: black;
    margin-left: 400px;
    font-size: 25px;
    font-style: oblique;
}

a:hover{
    background-color: blue;
}

